html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6re Helvitica;
  height: 100vh;
  margin: 0;
}

#rooter {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #ffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.header-links :hover {
  color: #ff8000;
}
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: #203040;
  color: #fff;
  justify-content: center;
  font-size: 1.8rem;
  align-items: center;
}

/* home screen */

.products {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-name {
  font-size: 2rem;
}
.product-name a {
  text-decoration: none;
  color: #ff8000;
}
.product-brand {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #808080;
}
.price {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}
.rating {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.7rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Sidebar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.8s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}
a {
  color: #ffff;
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
.sidebar-btn {
  border: none;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 29%;
}

.sidebarcat {
  list-style-type: none;
  font-size: 2rem;
}
.sidebarcat li a {
  color: #808080;
}

/* Product Details*/

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}
.details-info {
  flex: 1 1 25rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-image img {
  max-width: 60rem;

  widows: 100%;
}
.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.link {
  color: #203040 !important;
  font-size: 1.8rem;
  padding: 1rem;
}
.link:hover {
  color: #ff8000 !important;
}

.btn-cart {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: #f0c040;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction:column;
}
.btn-cart:hover {
  border: 0.1rem #40404040;
}

.productmain {
  padding: 0.5rem;
}

/* Cart */

.cart{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 60rem;
}
.cart-action{
  flex:1 1 20rem;
  background-color: #f8f8f8;
  border:.1rem #f0f0f0 soild;
  border-radius: .5rem;
  padding:1rem;
}
.cart-list-container li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom:.1rem #808080 solid;
  align-items: flex-end;
}
.cart-list-container li:first-child{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.imgc{
  max-width: 10rem;
  max-height: 10rem;
 
  
  }

  .cartimg{
    flex: 1 1;
  }
  .cartprice{
flex:1 1;
margin-left: 89rem;
  }

  .cart-name{
    flex:8 1;
  }

